<footer class="footer">
  <div class="footer__upper">
    <address class="footer__contacta">
      <p class="footer__contactum ragged"><a id="apt-phone" href="tel:9782281045">978-228-1045</a></p>
      <p class="footer__contactum ragged"><a id="apt-email" href="mailto:jmloftsleasing@gmail.com">jmloftsleasing@gmail.com</a></p>
    </address>
    <div class="footer__disclaimer"><span class="ragged">Renderings and images represent the apartment living concept and are subject to change</span></div>
    <div class="footer__signature"></div>
    <address class="footer__locata">
      <p class="footer__locatum ragged"><a id="apt-address">45 Washington Street</a></p>
      <p class="footer__locatum ragged"><a id="apt-city-state">Haverhill , MA</a></p>
    </address>
  </div>
  <div class="footer__lower">
    <div class="footer__cta" data-scry="#header"><span>Get in<span>touch</span></span>with us</div>
    <div class="footer__corporate">
      <p class="footer__opening">Open By Appointment</p>
      <address class="footer__corporate-contacta">
        <p class="footer__corporate-contactum" id="corporate-name">Traggorth Companies</p>
        <p class="footer__corporate-contactum" id="corporate-address">50 Summer Street, Boston, MA 02110</p>
        <a href="http://traggorthcompanies.com" class="footer__corporate-contactum" id="corporate-url">traggorthcompanies.com</a>
      </address>
    </div>
  </div>
</footer>
