<footer>
  <a class="footer--phone" href="tel:6175426500">617.542.6500</a>
  <a class="footer--email" href="mailto:info@jmlofts.com">info@jmlofts.com</a>
  <div class="footer--disclaimer">Renderings and images represent the apartment living concept and are subject to change.</div>
  <div class="footer--signature">
    <img class="jm-signature" href="assets/img/signature.svg">
  </div>
  <h3 class="footer--address">45 Washington Street</h3>
  <h2 class="footer--citystate">Haverhill, MA</h2>
  <div class="footer--icons">
    <img src="assets/img/ada-icon.svg">
    <img src="assets/img/eho-icon.svg">
  </div>
  <a class="footer--cta">Get in touch with us</a>
  <p class="footer--heading">Open By Appointment</p>
  <ul class="footer--contact">
    <li>Traggorth Companies</li>
    <li>50 Summer Street, Boston, MA, 02110</li>
    <li><a href="tel:6715426500">617-542-6500</a></li>
    <li><a href="http://traggorthcompanies.com">traggorthcompanies.com</a></li>
  </ul>
</footer>
