<footer class="footer">
  <address class="footer__contacts">
    <a class="footer__phone" href="tel:6175426500">617.542.6500</a>
    <a class="footer__email" href="mailto:info@jmlofts.com">info@jmlofts.com</a>
  </address>
  <div class="footer__disclaimer">Renderings and images represent the apartment living concept and are subject to change.</div>
  <div class="footer__signature">
    <img href="assets/img/graphic-signature.svg">
  </div>
  <address class="footer__location">
    <p class="footer__address"></p>
    <p class="footer__citystate"></p>
  </address>
  <ul class="footer__icons">
    <li class="footer__icon"></li>
    <li class="footer__icon"></li>
  </ul>
  <div class="footer__appointment">
    <div class="footer__cta cta--intouch">Get in<br/>touch<br/>with us</div>
    <p class="footer__opening">Open by Appointment</p>
    <address class="footer__appt-contact">
      <p>Traggorth Companies</p>
      <p>50 Summer Street, Boston, MA, 02110</p>
      <p><a href="tel:6715426500">617-542-6500</a></p>
      <p><a href="http://traggorthcompanies.com">traggorthcompanies.com</a></p>
    </address>
  </div>
</footer>
