<aside class="form">
  <ul class="contact-info">
    <li>Traggorth Companies</li>
    <li>50 Summer Street, Boston, MA, 02110</li>
    <li><a href="tel:6715426500">617-542-6500</a></li>
    <li><a href="http://traggorthcompanies.com">traggorthcompanies.com</a></li>
  </ul>
  <form class="contact-form" novalidate>
  <div class="contact-form__wrapper">
    <h2 class="contact-form__heading">Open By Appointment</h2>
    <label class="contact-form__field field has-error" data-error="*">
      <span class="field__label">Name</span>
      <input type="text" class="field__input" id="contact-name" name="name" placeholder="name">
    </label>
    <label class="contact-form__field field">
      <span class="field__label">Email</span>
      <input type="email" class="field__input" id="contact-email" name="email" placeholder="email">
    </label>
    <label class="contact-form__field field">
      <span class="field__label">Phone</span>
      <input type="tel" class="field__input" id="contact-phone" name="phone" placeholder="phone">
    </label>
    <label class="contact-form__field field">
      <span class="field__label">Comment</span>
      <textarea class="field__input input--textarea" id="contact-message" name="message" placeholder="Thanks for getting in touch!"></textarea>
    </label>
    <input type="submit" class="contact-form__submit" value="submit">
  </div>
  </form>
</aside>
