<div class="contact">
  <address class="contact__information">
    <p class="contact__opening">Open By Appointment</p>
    <p class="contact__item">Traggorth Companies</p>
    <p class="contact__item">50 Summer Street, Boston, MA, 02110</p>
    <a class="contact__item" href="tel:6715426500">617-542-6500</a>
    <a class="contact__item" href="http://traggorthcompanies.com">traggorthcompanies.com</a>
  </address>
  <form class="contact__form form" novalidate>
    <label class="form__field"><input class="form__input" type="text" id="form__name" name="name" placeholder="name"></label>
    <label class="form__field"><input class="form__input" type="email" id="form__email" name="email" placeholder="email"></label>
    <label class="form__field"><input class="form__input" type="tel" id="form__phone" name="phone" placeholder="phone"></label>
    <label class="form__field"><textarea class="form__input input--textarea" id="form__comment" name="comment" placeholder="comment"></textarea></label>
    <input class="form__submit" type="submit" value="submit">
  </form>
</div>
