<header class="header">
  <div class="header__wrapper">
    <div class="header__level level--upper">
      <div class="header__logo" style="background-image: url('assets/img/brand-logo.svg');"></div>
      <ul class="header__headlines">
        <li class="header__headline headline--upper ragged"><h1>Brand New Apts</h1></li>
        <li class="header__headline headline--lower ragged"><h1>Pre-leasing for 2016</h2></li>
      </ul>
    </div>
    <div class="header__level level--lower">
      <a class="header__contact cta--intouch ragged"><span>Get in<span>touch</span></span>with us</a>
      <div class="header__graphic"></div>
    </div>
    {% include 'form.html' %}
  </div>
</header>
