<header class="header">
  <div class="header__wrapper">
    <div class="header__logo" style="background-image: url('assets/img/brand-logo.svg');">
      <!-- <img src="assets/img/brand-logo.svg" alt="JM Lofts"> -->
    </div>
    <div class="header__headlines">
      <h1 class="header__upper-headline">Brand New Apts</h1>
      <h2 class="header__lower-headline">Get In Touch With Us</h2>
    </div>
    <a class="header__contact">Get in<br/>touch<br/>with us</a>
    <div class="header__facade">
      <img src="assets/img/brand-building.svg" alt="JM Lofts">
    </div>
  </div>
</header>
