<header class="header">
  <div class="header__wrapper">
    <div class="header__logo" style="background-image: url('assets/img/brand-logo.svg');"></div>
    <ul class="header__headlines">
      <li class="header__headline headline--upper"><h1>Brand New Apts</h1></li>
      <li class="header__headline headline--lower"><h1>Pre-leasing for 2016</h2></li>
    </ul>
    <a class="header__contact cta--intouch"><span>Get in<br/>touch<br/>with us</span></a>
    <div class="header__graphic"><img src="assets/img/brand-building.svg" alt="JM Lofts"></div>
  </div>
</header>
