.page {
  background-color: $sable;
  padding: 20px;
}
.page__wrapper {
  background-color: $black;
  padding: 0 15px;
}
.section {
  $dimensions: (8/16);
  height: 0;
  min-height: 250px;
  padding-bottom: calc(100% * #{$dimensions});
  position: relative;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  position: absolute;
}
.headline__title {
  font-family: $baskerville;
  font-style: italic;
  letter-spacing: 1.75px;
}
.headline__caption {
  font-family: $scala;
}
.headline__line {
  display: inline-block;
  padding: 5px 10px;
  background-color: $black;
  color: $sable;
  line-height: 1em;
  text-transform: uppercase;
}

#section-1-headline {
  top: 30px; left: 0;
}
#section-2-headline {
  top: 30px; right: 0;
}
#section-3-headline {
  top: 30px; left: 0;
}
#section-4-headline {
  top: 30px; right: 0;
}
