.page {
  background-color: $sable;
  padding: 20px;
}
.page__wrapper {
  background-color: $black;
  padding: 0 15px;
}
.section {
  $dimensions: (8/16);
  height: 0;
  min-height: 250px;
  padding-bottom: calc(100% * #{$dimensions});
  position: relative;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__wrapper {}
