$black: rgb(0, 0, 0);
$gray: rgb(35, 31, 32);
$white: rgb(255, 255, 255);
$sable: rgb(245,239,230);
$jaune: rgb(207, 161, 28);
$rouge: rgb(175, 96, 77);
$green: rgb (116, 137, 55);

$border-thin: 1px solid $black;
$border-thick: 10px solid $black;

$gotham: 'Montserrat', 'arial', sans-serif;
$scala: 'Fanwood Text', serif;
$baskerville: 'Libre Baskerville', serif;

$mobile: 799px;
$normal: 800px;
