$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$sable: rgb(214, 209, 186);
$green: rgb(116, 137, 55);
$jaune: rgb(207, 161, 28);
$rouge: rgb(175, 96, 77);

$gotham: 'Montserrat', 'arial', sans-serif;
$scala: 'Fanwood', serif;
$baskerville: 'Libre Baskerville', serif;
