$header-dimensions: (1.7947/16.2150);

.header {
  background-color: $sable;
}
.header__wrapper {
  font-size: 0;
  position: relative;
}

.header__level {
  display: inline-block;
  position: relative;
  @media (max-width: $mobile) {
    display: table;
    width: 100%;
  }
  @media (min-width: $normal) {
    height: calc(100vw * #{$header-dimensions});
    vertical-align: top;
  }
}
.header__level.level--upper {
  @media (min-width: $normal) { width: 75%; }
}
.header__level.level--lower {
  @media (min-width: $normal) { width: 25%; }
}
.header__level > * {
  @media (max-width: $mobile) {
    display: table-cell;
  }
  @media (min-width: $normal) {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }
}

.header__logo {
  height: 100%;
  width: 20%;
  background-color: $gray;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: 75%;
  @media (min-width: $normal) {
    width: 25%;
  }
}


.header__headlines {
  font-size: 3vw;
  color: $gray;
  @media (min-width: $normal) {
    width: 75%;
  }
}
.header__headline {
  height: 50%;
  padding: 5px;
  font-size: 3vw;
  h1 {
    height: 100%;
    font-family: $gotham;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  @media (min-width: $normal) {
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
.header__headline.headline--upper {
  letter-spacing: 2px;
  border-bottom: 5px solid $black;
  @media (max-width: $mobile) {
    font-size: 1.30em;
    letter-spacing: 0.35em;
    line-height: 1em;
  }
  @media (min-width: $normal) {
    font-size: 1.35em;
    letter-spacing: 0.7vw;
    line-height: 1em;
  }
}
.header__headline.headline--lower {
  @media (max-width: $mobile) {
    font-size: 1.20em;
    letter-spacing: 0.135em;
    line-height: 1em;
  }
  @media (min-width: $normal) {
    font-size: 1.1em;
    letter-spacing: 0.40vw;
    line-height: 1em;
  }
}


.header__contact {
  color: $gray;
  background-color: $rouge;
  text-align: center;
  font-family: Montserrat,arial,sans-serif;
  text-transform: uppercase;
  padding: 2%;
  font-size: 2.4vw;
  font-weight: 800;
  letter-spacing: .2em;
  span {
    letter-spacing: 0.2em;
    padding: 0 1% 0 2%;
    }
    span span {
    letter-spacing: .2em;
    @media (min-width: $normal) {
      display: block;
    }
}
  @media (min-width: $normal) {
    width: 60%;
    padding: 5% 3% 3% 5%;
    letter-spacing: .02em;
  }
}

.header__graphic {
        background-image:url(../img/border-right.svg), url(../img/border-left.svg),url(../img/border-top.svg), url(../img/border-bottom.svg), url(../img/brand-building.svg);
  background-position:right top, left bottom, left top, left bottom, center;
  background-repeat:repeat-y, repeat-y, repeat-x, repeat-x, no-repeat;
background-size:auto, auto, contain, contain, cover;
  @media (max-width: $mobile) {
    width: 20%;
  }
  @media (min-width: $normal) {
    width: 40%;
  }
}
