$header-dimensions: (1.7947/16.2150);

.header {
  background-color: $sable;
  border-top: $border-thin;
  border-bottom: $border-thin;
}
.header__wrapper {
  font-size: 0;
}

.header__level {
  display: inline-block;
  @media (max-width: $mobile) {
    display: table;
    width: 100%;
  }
  @media (min-width: $normal) {
    height: calc(100vw * #{$header-dimensions});
    vertical-align: top;
  }
}
.header__level.level--upper {
  @media (min-width: $normal) { width: 75%; }
}
.header__level.level--lower {
  @media (min-width: $normal) { width: 25%; }
}
.header__level > * {
  @media (max-width: $mobile) {
    display: table-cell;
  }
  @media (min-width: $normal) {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }
}


.header__logo {
  height: 100%;
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 90%;
  width: 25%;
}


.header__headlines {
  font-size: 3vw;
  @media (min-width: $normal) {
    width: 75%;
  }
}
.header__headline {
  height: 50%;
  padding: 5px;
  font-size: 3vw;
  h1 {
    height: 100%;
    font-family: $gotham;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  @media (min-width: $normal) {
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
.header__headline.headline--upper {
  letter-spacing: 2px;
  border-bottom: 5px solid $black;
  @media (max-width: $mobile) {
    font-size: 1.30em;
    letter-spacing: 0.35em;
    line-height: 1em;
  }
  @media (min-width: $normal) {
    font-size: 1.35em;
    letter-spacing: 0.2em;
    line-height: 1em;
  }
}
.header__headline.headline--lower {
  @media (max-width: $mobile) {
    font-size: 1.20em;
    letter-spacing: 0.135em;
    line-height: 1em;
  }
  @media (min-width: $normal) {
    font-size: 1.1em;
    letter-spacing: 0.15em;
    line-height: 1em;
  }
}


.header__contact {
  background-color: $green;
  text-align: center;
  font-size: 3vw;
  @media (max-width: $mobile) {
    @extend %valign-content;
    padding: 10px 0;
    br { display: none; }
  }
  @media (min-width: $normal) {
    width: 60%;
  }
}
.header__contact span {
  font-family: $gotham;
  text-transform: uppercase;
  @media (max-width: $mobile) {
    font-size: 1.0em;
    letter-spacing: 0.15em;
  }
  @media (min-width: $normal) {
    font-size: 0.80em;
    letter-spacing: 0.05em;
  }
}


.header__graphic {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 110%;
  @media (max-width: $mobile) {
    width: 20%;
  }
  @media (min-width: $normal) {
    width: 40%;
  }
}
