<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JM Lofts | Brand New Loft Space</title>
  <link rel="stylesheet" href="assets/css/index.css">
</head>
<body class="page">
  <div class="page__wrapper">
    {% include 'header.html' %}
    <main class="main-content">
      {% for section in sections %}
        <section class="section" id="section-{{ loop.index }}" style="background-image: url('assets/img/background-section_{{ loop.index }}.jpg');">
          <div class="headline {{ 'headline--left' if loop.index % 2 == 0 else 'headline--right' }}" id="section-{{ loop.index }}-headline">
            <h3 class="headline__title"><span class="headline__line">{{ section.title | replace('\n', '</span><br/><span class="headline__line">')}}<span></h3>
            <p class="headline__caption"><span class="headline__line">{{ section.caption | replace('\n', '</span><br/><span class="headline__line">')}}<span></p>
          </div>
        </section>
      {% endfor %}
      <a class="back-to-top"><img src="assets/img/up-arrow.svg"></a>
    </main>
    {% include 'form.html' %}
    {% include 'footer.html' %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="assets/js/index.js"></script>
</body>
</html>
