<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
  <title>JM Lofts</title>
  <link rel="stylesheet" href="assets/css/index.css">
</head>
<body class="page">
  <div class="page__wrapper ragged--sable">
    {% include 'header.html' %}
    <main class="page__content">
      {% for section in sections %}
        <section class="section" id="section-{{ loop.index }}" style="background-image: url('assets/img/background-section_{{ loop.index }}.jpg');">
          <div class="section__wrapper">
            <div class="headline" id="section-{{ loop.index }}-headline">
              <h3 class="headline__title"><span class="headline__line">{{ section.title | replace('\n', '</span><br/><span class="headline__line">')}}<span></h3>
              <p class="headline__caption"><span class="headline__line">{{ section.caption | replace('\n', '</span><br/><span class="headline__line">')}}<span></p>
            </div>
          </div>
        </section>
      {% endfor %}
      <a class="back-to-top"><img src="assets/img/graphic-arrow_up.svg"></a>
      <div class="icons">
        <div class="ada"></div>
        <div class="eho"></div>
      </div>
    </main>
    {% include 'footer.html' %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="assets/js/index.js"></script>
</body>
</html>
